.head{
	margin-top: 100px;
	width: 500px;
	height: 150px;
	margin-left: 220px;
	background-color: blueviolet;
	float: left;

	
}
.head2{
	margin-top: 100px;
	width: 500px;
	height: 150px;
	margin-left: 20px;
	background-color: black;
	float: left;
}
h1{
	margin-top: 25px;
	color: white;
}

.head p{
	text-align: center;
	color: yellow;

	
}

.head2 p{
	text-align: center;
	color: salmon;
	
}

#content{
	margin-left: 200px;
	width: 500px;
	height: 500px;
	background-color: white;
	float: left;
}

#content2{
	width: 500px;
	height: 500px;
	margin-left: 20px;
	background-color: white;
	float: left;
}
#fContent p{
 	
	font-family: calibri;
	font-size: 19px;
	color: black;
	text-align: center;
	margin: 10px;
}
ul{
	list-style: none;
}
li:nth-child(even) {
  background: lightgrey;
}

#footer{
	width: 500px;
	height: 2px;
	background-color: yellow;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
#footer2{
	width: 500px;
	height: 2px;
	background-color: salmon;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}